@model MVCatalog.Models.CategoryViewModel
@{
	ViewData["Title"] = "Add";
}

<div class="container mt-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h5>Add Category</h5>
	</div>
	<form class="form-group" method="post">
		<div class="mb-3">
			<label for="categoryName" class="form-label">Kategori Adı</label>
			<input asp-for="Name" class="form-control" type="text" placeholder="Kategori adını giriniz..." />
		</div>
		<div class="mb-3">
			<label for="IsDeleted">Kategori Durumu</label>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" asp-for="IsDeleted" />
				<label class="form-check-label" for="IsDeleted">Etkisiz</label>
			</div>
		</div>
		<div class="mb-3">
			<label for="categoryRecordTime" class="form-label">Kategori Tarihi</label>
			<input type="date" name="RecordTime" class="form-control" />
		</div>
		<div>
			<input type="submit" value="YENİ KATEGORİ EKLE" class="btn btn-primary" />
		</div>
	</form>
	<div>
		<a href="@Url.Action("Index", "Category")" class="btn btn-secondary mt-3">Listeye Geri Dön.</a>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
