@{
    ViewData["Title"] = "Index";
}

<form method="post">
    <div class="mb-3">
        <label for="UserName" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" id="username" name="UserName" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Şifre</label>
        <input type="password" class="form-control" id="password" name="Password" required>
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>

