@model (MVCatalog.Models.ProductViewModel Product, List<CategoryViewModel> CategoryList)

@{
	ViewData["Title"] = "Add";
}

<div class="container mt-5">
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h5>Add Product</h5>
	</div>
	<form class="form-group" method="post">
		<div class="mb-3">
			<label for="productName" class="form-label">Ürün Adı</label>
			<input name="product.Name" class="form-control" type="text" placeholder="Ürün adını giriniz..." />
		</div>
		<div class="mb-3">
			<label for="productPrice" class="form-label">Ürün Fiyatı</label>
			<input name="product.Price" class="form-control" placeholder="Ürün fiyatını giriniz..." />
		</div>
		<div class="mb-3">
			<label for="product.IsDeleted">Ürün Durumu</label>
			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="product.IsDeleted" />
				<label class="form-check-label" for="product.IsDeleted">Etkisiz</label>
			</div>
		</div>
		<div class="mb-3">
			<label for="product.RecordTime">Ürün Tarihi</label>
			<input type="date" name="product.RecordTime" class="form-control" />
		</div>
		<div class="mb-3">
			<label for="productCategory" class="form-label">Ürün Kategorisi</label>
			<select name="product.CategoryId" id="productCategory" class="form-select">
				<option value="">Seçiniz</option>
				@foreach (var item in Model.CategoryList)
				{
					<option value="@item.CategoryId">@item.Name</option>
				}
			</select>
		</div>
		<div>
			<input type="submit" value="YENİ ÜRÜN EKLE" class="btn btn-primary" />
		</div>
	</form>
	<div>
		<a href="@Url.Action("Index", "Product")" class="btn btn-secondary mt-3">Listeye Geri Dön.</a>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
